<div class="identity"> 
<% label  = identity.new_record? ? "user_new_identity_attributes_" : "user_existing_identity_attributes_#{identity.id}" %> 
<% prefix = identity.new_record? ? "user[new_identity_attributes][]" : "user[existing_identity_attributes][]" %> 
<% fields_for prefix, identity do |idf| -%> 
<div class="form_line"><label class="" for="<%= "#{label}_url" %>"><%= identity.new_record? ? 'New Open ID:' : 'Open ID:' %></label><%= idf.field :url %>
<% if !identity.new_record? -%>
<%= link_to_function "Dissassociate", "$(this).up('.identity').remove()" %>
<% end -%></div>
<% end -%> 
</div> 
