<h1>User Activity</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Login count</th>
    <th>Last login at</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.login_count %></td>
    <td><%=h user.last_request_at %></td>
  </tr>
<% end %>
</table>


