# configatron application configuration

# admin_emails is list of authorized adminstrator email addresses, 
#   these must be in lowercase
# downcase_passwords = true to disregard password case
# auto_approve = true to activate new users without administrator approval
# user_can_change_login = true if users can change their own username
# recaptcha_public_key and recaptcha_private_key are used by environment.rb
#   to set recaptcha.net environment variables

development: &local
  site_name: Test Site
  company_name: Buy N Large 
  support_name: Fixit Team
  support_email: fixit@test.com
  site_url: http://localhost:3000
  admin_emails: [ admin1@test.com, admin2@test.com ]
  downcase_passwords: true
  auto_approve: false
  user_can_change_login: false
  recaptcha_public_key: 'a-very-long-public-key'
  recaptcha_private_key: 'a-very-long-private-key'

production:
  <<: *local

staging:
  <<: *local

test:
  <<: *local
