# mail fetcher configuration
development: &local
	outgoing:
	  delivery_method: :smtp
	  address: address
	  port: 25
	  domain: www.mydomain.com
	  user_name: myusername@my_domain.com
	  password: my_password
	  authentication: :login  
	incoming:
    type: imap 
    username: adminmail@gmail.com
    password: hackme 
    processed_folder: processed
    error_folder: errors 
    server: imap.gmail.com 
    ssl: true 
    port: 993
    use_login: true

test:
  <<: *local

production:
  <<: *local
