# mail fetcher configuration
development: &local
  outgoing:
    delivery_method: :smtp
    address: smtp.example.com
    port: 25
    tls: false
    domain: example.com
    user_name: user
    password: password
    authentication: :login
  incoming:
    type: imap 
    username: adminmail@gmail.com
    password: hackme 
    processed_folder: processed
    error_folder: errors 
    server: imap.gmail.com 
    ssl: true 
    port: 993
    use_login: true

test:
  <<: *local

production:
  <<: *local
