<% title "Create User Account" -%>

<p><strong>This account will not be activated by default!</strong></p>	

<p>The user will receive an email with activation instructions. If you want
  to activate the account, you can do this manually later.</p>

<%= error_messages_for :user %>
<% lined_form_for @user, :url => admin_users_path do |f| -%>
  <%= partial "users/form", :f => f %>
  <%= f.submit "Create Account" %>
<% end -%>

<%= link_to 'Back', admin_users_path %>
